<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="/static/css/index.css" />
		<link rel="shortcut icon" type="x-icon" href="/static/img/logo-ucab3.png" />
	</head>

	<body>
		<div class="left">
			<h1>Remueve el Fondo<br />de tu Video</h1>
			<h4>100% Automático y <span>Gratis</span></h4>
			<video src="../static/video/homeVideo.mp4" autoplay loop muted></video>
		</div>

		<div class="right">
			<form
				id="uploadForm"
				action="/upload_video"
				method="post"
				enctype="multipart/form-data"
			>
				<input type="file" name="video" accept=".mp4,.avi,.mov,.wmv" required />
				<button type="submit">Subir Video</button>
			</form>
			<h4>Formatos Soportados: .mp4, .avi, .mov, .wmv</h4>
		</div>

		<div class="cursor"></div>

		<script>
			const cursor = document.querySelector(".cursor");
			document.addEventListener("mousemove", (e) => {
				cursor.style.left = e.pageX + "px";
				cursor.style.top = e.pageY + "px";
			});

			document
				.getElementById("uploadForm")
				.addEventListener("submit", function (event) {
					const fileInput = document.querySelector('input[name="video"]');
					if (!fileInput.files.length) {
						event.preventDefault();
						alert("Por favor, selecciona un archivo de video.");
					}
				});
		</script>
	</body>
</html>
